@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-green-25: #f6ffe3;
    --color-green-50: #f3ffcf;
    --color-green-75: #ebffbd;
    --color-green-100: #d8fa9d;
    --color-green-200: #b2e068;
    --color-green-300: #81b64c;
    --color-green-400: #5d9948;
    --color-green-500: #45753c;
    --color-green-600: #305730;
    --color-green-700: #204227;
    --color-green-800: #1c3724;
    --color-green-900: #162921;
    --color-aqua-25: #eafffa;
    --color-aqua-50: #ddfff5;
    --color-aqua-75: #ccffec;
    --color-aqua-100: #adfbd8;
    --color-aqua-200: #62f6ca;
    --color-aqua-300: #29d6b3;
    --color-aqua-400: #109888;
    --color-aqua-500: #10777c;
    --color-aqua-600: #09505f;
    --color-aqua-700: #073745;
    --color-aqua-800: #042733;
    --color-aqua-900: #051c26;
    --color-blue-25: #cef5ff;
    --color-blue-50: #b2f0ff;
    --color-blue-75: #83defc;
    --color-blue-100: #4dc3ea;
    --color-blue-200: #009fd9;
    --color-blue-300: #008cd1;
    --color-blue-400: #0069ab;
    --color-blue-500: #0b548c;
    --color-blue-600: #083a66;
    --color-blue-700: #072a4f;
    --color-blue-800: #071b36;
    --color-blue-900: #081325;
    --color-slate-25: #faffff;
    --color-slate-50: #f2fcff;
    --color-slate-75: #e5f6ff;
    --color-slate-100: #d0e6fb;
    --color-slate-200: #aed0f0;
    --color-slate-300: #749bbf;
    --color-slate-400: #486688;
    --color-slate-500: #324660;
    --color-slate-600: #263242;
    --color-slate-700: #1e2533;
    --color-slate-800: #191d29;
    --color-slate-900: #12131d;
    --color-purple-25: #f6edff;
    --color-purple-50: #e8dbff;
    --color-purple-75: #d5c6ff;
    --color-purple-100: #c9acff;
    --color-purple-200: #9881f2;
    --color-purple-300: #7a66f4;
    --color-purple-400: #5e53d9;
    --color-purple-500: #303d8a;
    --color-purple-600: #212e5d;
    --color-purple-700: #152243;
    --color-purple-800: #101c33;
    --color-purple-900: #0a1523;
    --color-fuchsia-25: #ffd4d4;
    --color-fuchsia-50: #ffb5b9;
    --color-fuchsia-75: #ff949d;
    --color-fuchsia-100: #ff788a;
    --color-fuchsia-200: #fa466a;
    --color-fuchsia-300: #ed2456;
    --color-fuchsia-400: #c4144f;
    --color-fuchsia-500: #940c45;
    --color-fuchsia-600: #610734;
    --color-fuchsia-700: #49052d;
    --color-fuchsia-800: #340524;
    --color-fuchsia-900: #1f041a;
    --color-red-25: #ffe0ca;
    --color-red-50: #ffcbb2;
    --color-red-75: #ffb196;
    --color-red-100: #ff8a75;
    --color-red-200: #ff6352;
    --color-red-300: #fa412d;
    --color-red-400: #e02828;
    --color-red-500: #ad1f24;
    --color-red-600: #881822;
    --color-red-700: #631018;
    --color-red-800: #420c14;
    --color-red-900: #2b0910;
    --color-orange-25: #fffbda;
    --color-orange-50: #fff3c2;
    --color-orange-75: #ffe5a8;
    --color-orange-100: #ffd591;
    --color-orange-200: #ffa459;
    --color-orange-300: #fa742c;
    --color-orange-400: #dc501d;
    --color-orange-500: #a93616;
    --color-orange-600: #7a1a0b;
    --color-orange-700: #610808;
    --color-orange-800: #4a050c;
    --color-orange-900: #30020c;
    --color-gold-25: #ffffc7;
    --color-gold-50: #fff599;
    --color-gold-75: #fce26a;
    --color-gold-100: #fad541;
    --color-gold-200: #f7c631;
    --color-gold-300: #e3aa24;
    --color-gold-400: #cf8d1b;
    --color-gold-500: #b27314;
    --color-gold-600: #99580e;
    --color-gold-700: #7a4414;
    --color-gold-800: #572c12;
    --color-gold-900: #33190d;
    --color-brown-25: #fffef5;
    --color-brown-50: #fbf7ec;
    --color-brown-75: #fbf3d8;
    --color-brown-100: #fbebc1;
    --color-brown-200: #f9d983;
    --color-brown-300: #e2b664;
    --color-brown-400: #ca9350;
    --color-brown-500: #9d6c3e;
    --color-brown-600: #6a4632;
    --color-brown-700: #543426;
    --color-brown-800: #40241a;
    --color-brown-900: #301b17;
    --color-skin-25: #fffce8;
    --color-skin-50: #fff3d4;
    --color-skin-75: #fbe7c4;
    --color-skin-100: #fadaae;
    --color-skin-200: #e3c29c;
    --color-skin-300: #d5a47d;
    --color-skin-400: #8d694b;
    --color-skin-500: #6b4d3a;
    --color-skin-600: #543f34;
    --color-skin-700: #4a352e;
    --color-skin-800: #402c28;
    --color-skin-900: #332220;
    --globalBackground: #fff;
    --globalBackgroundOpaque: #fff;
    --globalSecondaryBackground: #f1f1f1;
    --globalTertiaryBackground: #dad8d6;
    --globalAccentBackground: #fff;
    --globalSecondaryAccentBackground: #f8f8f8;
    --globalSiteBackground: #f8f8f8;
    --subtleButtonBackground: #e7e6e5;
    --globalBorder: rgba(0,0,0,.1);
    --globalGray: #dad8d6;
    --globalGraySoft: #f1f1f1;
    --globalColorThemeFull: #312e2b;
    --globalColorThemeHigh: #4b4847;
    --globalColorThemeMid: #666564;
    --globalColorThemeLow: #8b8987;
    --globalColorThemeLower: #bebdb9;
    --globalColorThemeLink: #3a729c;
    --globalColorThemeBlueToWhite: #3a729c;
    --globalColorThemeBlueToMid: #3a729c;
    --globalColorThemeBlueToMidHover: rgba(58,114,156,.8);
    --globalColorThemeBlueToHigh: #3a729c;
    --globalColorThemeBlueToHighHover: rgba(58,114,156,.8);
    --globalColorThemeFullToMid: #312e2b;
    --globalColorThemeHighToMid: #4b4847;
    --globalColorNeutral50: #f8f8f8;
    --globalColorNeutral100: #f1f1f1;
    --globalColorNeutral200: #dad8d6;
    --globalPrimaryFont: -apple-system,BlinkMacSystemFont,"Segoe UI",system-ui,Helvetica,Arial,sans-serif;
    --globalSecondaryFont: "Montserrat",sans-serif;
    --globalOverlayBackground: #f1f1f1;
    --globalTitledPlayerColor: var(--color-red-500);
    --globalColorWin: var(--color-green-400);
    --globalColorBgWin: var(--color-green-300);
    --globalColorBorderWin: var(--color-green-300);
    --globalColorDraw: #666564;
    --globalColorBgDraw: #666564;
    --globalColorBorderDraw: #666564;
    --globalColorLoss: #ca3431;
    --globalColorBgLoss: #ca3431;
    --globalColorBorderLoss: #ca3431;
    --globalColorSuccess: var(--color-green-400);
    --globalColorDanger: #ca3431;
    --green-25: #f6ffe3;
    --green-50: #f3ffcf;
    --green-75: #ebffbd;
    --green-100: #d8fa9d;
    --green-200: #b2e068;
    --green-300: #81b64c;
    --green-400: #5d9948;
    --green-500: #45753c;
    --green-600: #305730;
    --green-700: #204227;
    --green-800: #1c3724;
    --green-900: #162921;
    --aqua-25: #eafffa;
    --aqua-50: #ddfff5;
    --aqua-75: #ccffec;
    --aqua-100: #adfbd8;
    --aqua-200: #62f6ca;
    --aqua-300: #29d6b3;
    --aqua-400: #109888;
    --aqua-500: #10777c;
    --aqua-600: #09505f;
    --aqua-700: #073745;
    --aqua-800: #042733;
    --aqua-900: #051c26;
    --red-25: #ffe0ca;
    --red-50: #ffcbb2;
    --red-75: #ffb196;
    --red-100: #ff8a75;
    --red-200: #ff6352;
    --red-300: #fa412d;
    --red-400: #e02828;
    --red-500: #ad1f24;
    --red-600: #881822;
    --red-700: #631018;
    --red-800: #420c14;
    --red-900: #2b0910;
}

/* Board layout */